<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
   <title>Home-Service - Регистрация</title>
   <th:block th:insert="~{com/com :: head}"></th:block>
   <link rel="stylesheet" href="res/auth/registration/css/styles.css">
</head>
<body class="h-100 bg-dark">
   <th:block th:insert="~{com/com :: header}"></th:block>
   <main class="container h-100">
      <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
         <div class="row bg-white shadow-sm">
            <div class="col border rounded p-4">
               <h3 class="text-center mb-4">Register</h3>

               <form action="/reg" method="post">
                  <div class="material-textfield blue mt-2">
                     <label class="ms-1" data-content="Телефон">Телефон</label>
                     <input type="tel" class="form-control" name="phone" required autofocus>
                  </div>
                  <div class="material-textfield blue mt-2">
                     <label class="ms-1" data-content="email">EMAIL</label>
                     <input type="text" class="form-control" name="email" required autofocus>
                  </div>
                  <div class="material-textfield blue mt-2">
                     <label class="ms-1" data-content="Имя">Имя</label>
                     <input type="tel" class="form-control" name="firstName" required autofocus>
                  </div>
                  <div class="material-textfield blue mt-2">
                     <label class="ms-1" data-content="Фамилия">Фамилия</label>
                     <input type="tel" class="form-control" name="lastName" autofocus>
                  </div>
                  <div class="material-textfield red mt-2">
                     <label class="ms-1" data-content="Пароль">Пароль</label>
                     <input type="password" class="form-control" name="password" required autofocus>
                  </div>
                  <div class="material-textfield red mt-2">
                     <label class="ms-1" data-content="Повторите пароль">Повторите пароль</label>
                     <input type="password" class="form-control" name="passwordConfirm" required autofocus>
                  </div>
                  <div style="display:none"><input type="text" name="referer" th:value="${referer}"></div>
                  <div class="container mt-2 text-center"><button class="btn btn-primary cen" type="submit">Зарегистрироваться</button></div>
               </form>

               <div class="cen mt-2">
                  <div class="alert alert-danger" th:if="${passwordError != '' && passwordError != null}" th:text="${passwordError}"></div>
                  <div class="alert alert-danger" th:if="${emailError != '' && emailError != null}"       th:text="${emailError}"></div>
                  <div class="alert alert-danger" th:if="${massageError != '' && massageError != null}"   th:text="${massageError}"></div>
               </div>
               <div class="mt-2 ps-2 pe-2">
                  You already registered? <a class="text-decoration-none" href="/login">login</a>
               </div>
            </div>
         </div>
      </div>
   </main>
   <th:block th:insert="~{com/com :: footer}"></th:block>
</body>
</html>